extends layout

block content
  if errorMsg
    div(style='color:red;')= errorMsg
  form(method='POST')
    label(for='uname')
      b Username
    input(type='text', placeholder='Enter Username', name='uname', required='')
    label(for='psw')
      b Password
    input(type='password', placeholder='Enter Password', name='psw', required='')
    button(type='submit') Login
    label
      input(type='checkbox', checked='checked', name='remember')
      |  Remember me
