<!doctype html>
<html ng-app="gradetrackerApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <title>GradeTracker</title>
    <script src="gradetracker.js"></script>
</head>
<body ng-controller="GradeTrackerCtrl as gradetracker">
    Total classes: {{gradetracker.grades.length}}
    <div ng-repeat="grade in gradetracker.grades">
        <h3>{{grade.name}}</h3>
        <p>Current Grade: <b>{{grade.grade}}</b></p>
        <p>Best Possible Grade: <b>{{grade.bestPossible}}</b></p>
        <p>Worst Possible Grade: <b>{{grade.worstPossible}}</b></p>
    </div>
    <form ng-submit="gradetracker.addNewClass()">
        <h3>Add new class</h3>
        <label>Name: <input type="text" ng-model="gradetracker.newClass.name"/></label><br/>
        <label>Grade: <input type="text" ng-model="gradetracker.newClass.grade"/></label><br/>
        <label>Best Possible: <input type="text" ng-model="gradetracker.newClass.bestPossible"/></label><br/>
        <label>Worst Possible: <input type="text" ng-model="gradetracker.newClass.worstPossible"/></label><br/>
        <input type="submit" value="Add Class"/>
    </form>
    <br/>

    <div ng-repeat="item in gradetracker.items">
        <h4>{{item.name}} ({{item.type}})</h4>
        <p>Weight: {{item.weight}}%</p>
        <p>Score: {{item.achieved*100/item.maximum}}%</p>
    </div>

    <br/>
    <form ng-submit="gradetracker.addNewItem()">
        <h3>Add new Item</h3>
        <label>Type: <input type="text" ng-model="gradetracker.newItem.type"/></label><br/>
        <label>Name: <input type="text" ng-model="gradetracker.newItem.name"/></label><br/>
        <label>Item weight: <input type="number" ng-model="gradetracker.newItem.weight" />%</label><br/>
        <div>
            Scores:
            <input type="number" placeholder="Achieved" ng-model="gradetracker.newItem.achieved"/> /
            <input type="number" placeholder="Maximum" ng-model="gradetracker.newItem.maximum"/>
        </div>
        <input type="submit" value="Add Item"/>
    </form>
</body>
</html>