extends layout

block content
  
  script(src='/angular/cardApp.config.js')
  script(src='/angular/single-card/single-card.component.js')
  script(src='/angular/card-grid/card-grid.component.js')
    
    
  h1= title
  
  .cards(ng-app='cardApp') 
    h3 card components go here
    hr
    
    card-grid
    